.dataset*.jl
.hyperparams*.jl
outputs
*.csv
*.bak
*.bkup
performance*txt
*.out
trials*
**/__pycache__
build
dist
Manifest*.toml
*.cov
.coveralls.yml
**/*tmp*.jl
**/*tmp*.py
build
*.csv.out*
pysr_recorder.json
docs/src/index.md
*.code-workspace
.vscode
docs/node_modules/
docs/package-lock.json

LocalPreferences.toml
!test/LocalPreferences.toml
!test/**/LocalPreferences.toml
private

# Generated examples:
docs/src/examples/
