.dataset*.jl
.hyperparams*.jl
*.csv
*.bkup
performance*txt
*.out
trials*
**/__pycache__
build
dist
Manifest.toml
*.cov
.coveralls.yml
**/*tmp*.jl
**/*tmp*.py
build
*.csv.out*
pysr_recorder.json
docs/src/index.md
*.code-workspace
.vscode
**/*.json
