# Taken from https://github.com/julia-actions/julia-format
name: format-check

on:
  push:
    branches:
      - "master"
      - "release-"
    tags: "*"
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
      - name: "Cache dependencies"
        uses: julia-actions/cache@v2
      - name: Install JuliaFormatter and format
        run: |
          julia --startup-file=no -e 'using Pkg; pkg"activate --temp"; pkg"add JuliaFormatter@1.0.61"; using JuliaFormatter; format("."; verbose=true)'
      - name: "Format check"
        run: |
          julia -e '
          out = Cmd(`git diff --name-only`) |> read |> String
          if out == ""
              exit(0)
          else
              @error "Some files have not been formatted. Please run JuliaFormatter.format(\".\") from the repository root."
              write(stdout, out)
              exit(1)
          end'
