name: CI

on:
  push:
    branches:
      - master
    paths:
      - 'test/**'
      - 'src/**'
      - '.github/workflows/**'
  pull_request:
    branches:
      - master
    paths:
      - 'test/**'
      - 'src/**'
      - '.github/workflows/**'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['1.5.0']
        os: [ubuntu-latest, windows-latest]
    
    steps:
      - uses: actions/checkout@v1.0.0
      - name: "Set up Julia"
        uses: julia-actions/setup-julia@v1.6.0
        with:
          version: ${{ matrix.julia-version }}
      - name: "Build package"
        uses: julia-actions/julia-buildpkg@v1
      - name: "Run tests"
        run: |
            julia --color=yes --project=. -e 'import Pkg; Pkg.add("Coverage")'
            julia --color=yes --inline=yes --depwarn=yes --code-coverage=user --project=. -e 'import Pkg; Pkg.test(coverage=true)'
            julia --color=yes --project=. coverage.jl
        shell: bash
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage-lcov.info
